@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap");
@import "tailwindcss";

body {
  background-color: #f4ebe6;
}

* {
  font-family: "Cause", cursive;
  font-weight: 600;
}
